body {
  background-image: url("./assets/liquid-cheese.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.client-logos {
  align-items: center;
  display: flex;
  justify-content: center;
}

.client-logos img {
  margin: 50px;
  max-width: 150px;
}

:root {
  --color-link: #26608a;
}
