.client-logos {
  align-items: center;
  display: flex;
  justify-content: center;
}

.client-logos img {
  margin: 10px;
  width: 70px;
}

.p-img {
  text-align: center;
}

:root {
  --color-link: #26608a;
  --color-bg: #e4e4e4;
}
